<div class="container">
  <h1>Restaurants</h1>
  <hr>

  <% @restaurants.each do |restaurant| %>
    <div class="d-flex">
      <%= link_to restaurant.name, show_path(restaurant)%>
      <p class="pl-3"> <%= link_to "+ Add review", new_path %> </p>
    </div>
  <% end %>

  <hr>
  <%= link_to "+ Add new restaurant", new_path %>
</div>
